@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Stick&display=swap');

.header-space{
    display: flex; 
    justify-content: center;
    margin: 10px 0;
}

.header{
    width: 90%;
    height: 100px;
    background-color: #44f41a;
    border-radius: 40px;
    transition: all 1s ease 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header:hover{
    box-shadow: 0 0 10px rgb(55, 255, 24);
    transform: scale(1.01, 1.01);

}

.header-text{
    font-family: 'Akaya Telivigala';
    font-weight: 400;
    font-size: 40px;
    display: block;
    color: azure;
}